body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgba(106, 0, 244, 0.3);
  font-size: 16px;
  color: white;
}

nav {
  height: 12vh;
  background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(234, 105, 139, 0.95), rgba(234, 105, 139, 0.6));
}

button {
  border: none;
  background-color: green;
  color: white;
  width: 10vw;
  height: 6vh;
  background-color: rgba(106, 0, 244, 0.15);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto';
  box-shadow: 1px 1px rgba(234, 105, 139, 0.9);
}

button:hover {
  cursor: pointer;
}

section {
  width: 100vw;
  height: 82vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

#bars div {
  background-image: linear-gradient(rgba(234, 105, 139, 0.6), rgba(234, 105, 139, 0.2));
  width: 9vw;
  display: inline-block;
  border: 1px solid rgba(177, 0, 232, 0.3);
  border-radius: 0.2rem;
}

.slide-container {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5vh;
  margin: 0;
  outline: none;
  background-color: rgba(234, 105, 139, 0.6);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5vh;
  height: 5vh;
  background: rgba(221, 168, 252, 1);
  border-radius: 100%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5vh;
  height: 5vh;
  background: #04AA6D;
  border-radius: 100%;
  cursor: pointer;
}
