body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgba(106, 0, 244, 0.3);
  font-size: 16px;
  color: white;
}

nav {
  height: 12vh;
  background-color: pink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(106, 0, 244, 0.8), rgba(106, 0, 244, 0.6));
}

button {
  border: none;
  background-color: green;
  color: white;
  width: 10vw;
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto';
}

button:hover {
  cursor: pointer;
}

section {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

div {
  background-image: linear-gradient(rgba(234, 105, 139, 0.6), rgba(234, 105, 139, 0.3));
  width: 9vw;
  display: inline-block;
  border: 1px solid rgba(177, 0, 232, 0.3);
  border-radius: 0rem;
}
